greenlet==3.0.1
mqtt-spb-wrapper==1.0.19
paho-mqtt==1.6.1
protobuf==3.20.1
psycopg2==2.9.9
pymodbus==3.5.4
pyserial==3.5
pytz==2023.3.post1
SQLAlchemy==2.0.23
transforms==0.2.1
typing_extensions==4.8.0
