[Unit]
Description=modbus publish via spb
After=network.target

[Service]
Type=simple
User=wzero
WorkingDirectory= /home/wzero/wzero-edge-app/backend
ExecStart=/home/wzero/wzero-edge-app/ENV/bin/python3 /home/wzero/wzero-edge-app/backend/app.py

[Install]
WantedBy=multi-user.target
