[Unit]
Description=modbus to sqlite
After=network.target

[Service]
Type=simple
User=wzero
WorkingDirectory= /home/wzero/Data_read_register_sqlite_pg_frontend
ExecStart=/home/wzero/Data_read_register_sqlite_pg_frontend/env/bin/python3 /home/wzero/Data_read_register_sqlite_pg_frontend/app_mb_sqlite.py
Restart=always

[Install]
WantedBy=multi-user.target